<html>
<head>
    <link type="text/css" href="../css/css.css" rel="stylesheet"/>
</head>
<body>
<div class="block">
    <form method="post" action="last">
        <button type="submit">Последние добавленные книги</button>
    </form>
    <form method="post" action="author">
        <input type="hidden" name="filter"/>
        <button type="submit">Авторы</button>
    </form>
    <form method="post" action="book">
        <input type="hidden" name="filter"/>
        <button type="submit">Книги</button>
    </form>
    <form method="post" action="newbook">
        <button type="submit">Добавить Книгу</button>
    </form>
</div>
</body>
</html>