<html>
<body>
<div>
    <form method="post" action="main">
        <button type="submit">На главную</button>
    </form>
</div>
<div>Последние добавленные книги</div>
{{#books}}
<div>
    <form method="post" action="addauthor">
        <input type="hidden" name="bookid" value="{{id}}"/>
        <button type="submit">{{name}}</button>
    </form>
</div>
{{/books}}
</body>
</html>