<html>
<body>
<head>
    <link type="text/css" href="../css/css.css" rel="stylesheet"/>
</head>
<div class="block">
    <form method="post" action="main">
        <button type="submit">На главную</button>
    </form>

    {{#book}}
    <form method="post" action="addauthortobook">
        <input type="hidden" name="bookid" value="{{id}}"/>
        <input type="text" name="name" placeholder="Добавить автора"/>
        <button type="submit">Добавить автора</button>
    </form>
    <div>
        <h3>Книга: {{name}}</h3>
        <h3>Список авторов:</h3>
        {{#authors}}

        <div>
            <form method="post" action="addbook">
                <input type="hidden" name="authorid" value="{{id}}"/>
                <button type="submit">{{name}}</button>
            </form>
        </div>
        {{/authors}}
    </div>
    {{/book}}
</div>
</body>
</html>