<html>
<head>
    <link type="text/css" href="../css/css.css" rel="stylesheet"/>
</head>
<body>
<div class="block">
    <div>
        <form method="post" action="main">
            <button type="submit">На главную</button>
        </form>
    </div>
    <h3>Последние 10 книг</h3>
    {{#books}}
    <div>
        <form method="post" action="addauthor">
            <input type="hidden" name="bookid" value="{{id}}"/>
            <button type="submit">{{name}}</button>
        </form>
    </div>
    {{/books}}
</div>
</body>
</html>