<html>
<head>
    <link type="text/css" href="../css/css.css" rel="stylesheet" />
</head>
<body>
<div class="block">
    <div>
        <form method="post" action="main">
            <button type="submit">На главную</button>
        </form>

        <h3>Кол-во страниц:{{pagemax}}</h3>
        <h3>Текущая страниц:{{pagecur}}</h3>
        <form method="post" action="author">
            <input type="hidden" name="pagecur" value="{{pagecur}}"/>
            <input type="hidden" name="pagemax" value="{{pagemax}}"/>
            <button type="submit">Перейти на следующую страницу</button>
        </form>

        <form method="post" action="author">
            <input type="text" name="filter" placeholder="Найти автора"/>
            <button type="submit">Найти автора</button>
        </form>
    </div>
    <h3>Список авторов:</h3>
    {{#authors}}
    <div>
        <form method="post" action="addbook">
            <input type="hidden" name="authorid" value="{{id}}"/>
            <button type="submit">{{name}}</button>
        </form>
    </div>
    {{/authors}}
</div>
</body>
</html>